#header
  %h1
    Code Retreat M&eacute;xico

#content
  %p
    Code Retreat es todo un dia de practica intensiva enfocada en las bases del
    diseño y desarrollo de software.

  %p
    El formato único del evento (que elimina la presión de 'terminar a como de
    lugar' y se enfoca en practicar los principios básicos de buen diseño) es una
    manera muy efectiva (y divertida) de mejorar tus habilidades.

    .image
      = image_tag 'https://s3.amazonaws.com/ciblogassets/asset/cr/IMG_1080.JPG'

  %p
    Por el hecho de que únicamente se enfoca solo en principios de diseño y
    comportamiento, no importa cual sea tu lenguaje de programación predilecto.
    Los ejercicios pueden llevarse a cabo con Ruby, PHP, C, C++, C#, con lo que te
    sientas cómodo siempre y cuando traigas tu equipo con el ambiente de desarrollo
    preparado para ello.

  %p
    Toma en cuenta también que por la diversidad de los asistentes puede que
    termines programando en par con alguien que no utiliza tu lenguaje. No te
    apures por esto, recuerda que lo importante es el diseño y el comportamiento,
    no la sintaxis.

  %p
    El evento es para todos; para desarrolladores experimentados que quieren
    compartir su experiencia y para desarrolladores nuevos dispuestos a aprender
    mas acerca del desarrollo de Software.

  %h2 Code Retreat en tu ciudad

  %p
    Queremos llevar esta práctica a todas las ciudades de México, todo lo que
    necesitamos es gente que esté dispuesta a apoyarnos.

  %p
    Lo único que necesitamos de tu parte es conseguir un lugar para que unas 20 o 25
    personas puedan programar y, si es posible, apoyar con café y algo de comer para
    los mismos.

  %p
    Nosotros nos encargamos de llevar a los facilitadores
    a la ciudad del Code Retreat.

  %p
    Para agendar un evento o para mas información escribenos a <b>coderetreat@crowdint.com</b>

#bottom
  %p
    %div
      Un esfuerzo de:
    %div
      = image_tag 'crowdint.png'
