#header
  %h1
    Code Retreat M&eacute;xico

#content
  %p
    Code Retreat es todo un dia de practica intensiva enfocada en las bases del
    dise&ntilde;o y desarrollo de software.

  %p
    El formato &uacute;nico del evento (que elimina la presi&oacute;n de 'terminar a como de
    lugar' y se enfoca en practicar los principios b&aacute;sicos de buen dise&ntilde;o) es una
    manera muy efectiva (y divertida) de mejorar tus habilidades.

    .image
      = image_tag 'https://s3.amazonaws.com/ciblogassets/asset/cr/IMG_1080.JPG'

  %p
    Por el hecho de que &uacute;nicamente se enfoca solo en principios de dise&ntilde;o y
    comportamiento, no importa cual sea tu lenguaje de programaci&oacute;n predilecto.
    Los ejercicios pueden llevarse a cabo con Ruby, PHP, C, C++, C#, con lo que te
    sientas c&oacute;modo, siempre y cuando traigas tu equipo con el ambiente de desarrollo
    preparado para ello.

  %p
    Toma en cuenta tambi&eacute;n que por la diversidad de los asistentes, puede que
    termines programando en par con alguien que no utiliza tu lenguaje. No te
    apures por esto, recuerda que lo importante es el dise&ntilde;o y el comportamiento,
    no la sintaxis.

  %p
    El evento es para todos. Para desarrolladores experimentados que quieren
    compartir su experiencia y para desarrolladores nuevos dispuestos a aprender
    mas acerca del desarrollo de Software.

  %h2 Code Retreat en tu ciudad

  %p
    Queremos llevar esta pr&aacute;ctica a todas las ciudades de M&eacute;xico, todo lo que
    necesitamos es gente que est&eacute; dispuesta a apoyarnos.

  %p
    Lo &uacute;nico que necesitamos de tu parte es conseguir un lugar para que unas 20 o 25
    personas puedan programar y, si es posible, apoyar con caf&eacute; y algo de comer para
    los mismos.

  %p
    Nosotros, en Crowd Interactive, nos encargamos de llevar a los facilitadores
    a la ciudad donde se lleve a cabo el Code Retreat.

  %p
    Para agendar un evento, o, para mas informaci&oacute;n, escribeme a <b>david@crowdint.com</b>

#bottom
  %p
    %div
      Un esfuerzo m&aacute;s de:
    %div
      = image_tag 'crowdint.png'
